*{
    text-decoration: none !important;
    margin: 0;
    box-sizing: border-box;
}

aside {
    background-color: #0C6170;
    width: 250px;
    min-height: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0px;
}

aside h1 {
    font-size: 1.5em !important;
    color: #fff;
    border-bottom: 1px solid #796767;
    margin: 0;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.tag-link {
    color: #fff;
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
    gap: 5px;
    transition: 300ms;
}

.tag-link:hover {
    color: #796767;
}

.icon-menu {

    width: 50px;
}






