* {
  box-sizing: border-box;
}

.container-patient {
  display: flex;
  background-color: #d0d6db;
  min-height: 100vh;
}

.box-patient {
  width: 100%;
  display: flex;
  flex-direction: column ;
}

.box-header-patient {
  padding: 10px;
  padding-bottom: 5px;
  background-color: #fff;
}

.box-icon-and-title {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.box-list-functions {
  color: #848484;
  font-size: 18px;
}

.box-icon-and-title .icon {
  font-size: 25px;
}

.form-patient {
  padding: 30px;
  margin: 10px 15px 15px 15px;
  border: 1px solid #d0d6db;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-patient .input-search-patient {
  padding: 10px;
  padding-left: 0px;
  margin: 10px 15px -10px 15px;
  width: 400px;
}

.input-textarea {
  height: 180px;
  
}

.col-btn-save-cancel {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-end;
}

.box-patient  .tablePatient{
  background-color: #fff;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% - 30px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}


.box-patient .tablePatient thead tr,
.box-patient .tableFilterPatientOp thead tr {
  background-color: #fff;
}


.tablePatient thead tr th,
.tablePatient tbody tr td,
.tableFilterPatientOp thead tr th,
.tableFilterPatientOp tbody tr td {
    padding: 15px;
}

.box-patient  .tableFilterPatient{
  margin: 10px 15px 15px 15px;
  border: 1px solid #d0d6db;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: none;
  width: calc(100% - 30px);
}

.tableFilterPatientOp{
  padding: 0px;
  margin: 10px 15px 15px 15px;
  border: 1px solid #d0d6db;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: inline-;
  width: calc(100% - 30px);

}

.idForm {
  display: none;
}

.tablePatientClosed {
  display: none;
}

#linhaInvisivel {
  visibility: hidden;
}

.td-with-btns {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.btn-action {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}