.box-header-exam {
    padding: 10px;
    padding-bottom: 5px;
    background-color: #fff;
}

.box-icon-and-title {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.box-list-functions {
    color: #848484;
    font-size: 18px;
}

.box-icon-and-title .icon {
    font-size: 25px;
}